extends layout

block content
  header.w3-container.w3-indigo
    h1 #{title} [#[a(href="/") Voltar]]
  
  .w3-container.w3-margin-top
    table.w3-table-all.w3-hoverable 
      each val, key in planta
        tr 
          th.w3-indigo= key 
          td= val

